.display {
  display: flex;
  border: 1px solid #666b69;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-buttons {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
}

.btn {
  padding: 0.5rem;
}
