.display {
  display: flex;
  border: 1px solid #666b69;
}

.display p {
  margin: 0.1rem 0.1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #494949;
  padding: 1rem;
  border-radius: 5%;
}

.calculator-buttons {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
}

.btn {
  border-radius: 1rem;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
}
