.display {
  display: flex;
  background-color: #c4c4c4;
  border: 1px solid #666b69;
  border-radius: 0.2rem;
}

.display p {
  margin: 0.1rem 0.1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #494949;
  padding: 1rem;
  border-radius: 5%;
}

.calculator-buttons {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
}

.btn {
  border-radius: 1rem;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.btn-clear {
  grid-column: span 3;
  width: 100%;
}

.btn-0 {
  grid-column: span 2;
  width: 100%;
}
